body {
    margin: 0;
    padding: 0;
    background-image: url("background.png");
    background-size: cover;
    background-position: right top;
}

.box {
    width: 450px;
    background: rgba(0,0,0,0.45);
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 10%;
    text-align: center;
    margin: auto;
    margin-top: 6%;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 800;
    line-height: 1px;
}

.box h5{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 50%;
    color: #9ff3f9;
}

.box p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 15px;
    transition: all ease-in-out 300ms;
}

.box li a:hover {
    color: #9ff3f9;
}